.hide{
    display: none;
}

#title{
    text-align: center;
}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    .div-word {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
}